@import '../../variables.less';
.comments {
  border-top: 1px solid @font-color;
  .comment {
    display: flex;
    align-items: center;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid lighten(@font-color, 40%);
    .left {
      padding: 10px 10px 10px 0;
      .circle {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background-color: #000;
      }
    }
    .right {
      h4 {
        margin: 0 0 10px 0;
      }
      p {
        margin: 0;
      }
    }
  }
  .more {
    cursor: pointer;
    display: block;
    margin: auto;
    padding: 10px 0 10px 0;
    color: @font-color-light;
    text-decoration: none;
    border-bottom: 1px solid @font-color-light;
    transition: all 0.5s ease-out;
    svg {
      margin-right: 10px;
      transition: all 0.5s ease-out;
    }
    &:hover, &:focus {
      text-decoration: underline;
      svg {
        margin-right: 15px;
      }
    }
  }
}